/* 全局或组件内（无 scoped）*/
.icon-taiyang {
  color: #ffdeae; /* 每一天 */
}

.icon-shoucang {
  color: #fc7474; /* 重要 */
}

.icon-jihua {
  color: #94d4ff; /* 计划内 */
}

.icon-yifenpei {
  color: #00a552; /* 已分配 */
}

.icon-home {
  color: #dcbaff; /* 任务 */
}
.icon-liebiao-zu{
  color: #b9b9b9;/* 左侧组 */
}
.icon-liebiao{
  color: #b9b9b9;/* 左侧列表 */
}

.icon-quxiao{
  color: #b9b9b9;/* 取消 */
}
.icon-zhongmingming{
  color: #b9b9b9;/* 重命名 */
}