/* 全局或组件内（无 scoped）*/
.icon-taiyang {
  color: #ffdeae; /* 橙色 - 太阳 */
}

.icon-shoucang {
  color: #fc7474; /* 红色 - 收藏 */
}

.icon-jihua {
  color: #94d4ff; /* 蓝色 - 计划 */
}

.icon-yifenpei {
  color: #00a552; /* 绿色 - 已分配 */
}

.icon-home {
  color: #dcbaff; /* 紫色 - 首页 */
}